---
---

$light: #FFFFFF;
$dark: #041419;
$orange: #F9A51A;
$teal: #043C3A;
$teal--dark: #04262B;
$teal--light: #71B9AF;

.light {           color: $light;}
.dark {           color: $dark;}
.orange {         color: $orange;}
.teal {           color: $teal;}
.teal--dark {     color: $teal--dark;}
.teal--light {    color: $teal--light;}

.light {
  a:link, a:visited {
    color: $teal--light;
  }
}

.bg-orange, .bg-teal--dark {
  color: $light;
  a:link, a:visited {
    color: $teal;
  }
}

.bg-light {        background-color: $dark;}
.bg-dark {        background-color: $dark;}
.bg-orange {      background-color: $orange;}
.bg-teal {        background-color: $teal;}
.bg-teal--dark {  background-color: $teal--dark;}
.bg-teal--light { background-color: $teal--light;}

#unseen-enemy {
  background-image: url('/assets/texture.jpg');
  background-size: cover;
  .lead img {
    max-width: 175px;
  }
}

#broadcast-events {
  background-image: url('/assets/map.png');
  background-size: cover;
}

body {
  font-family: "Raleway";
}

#unseen-enemy h1 {
  background-image: url('/assets/unseenenemy.png');
  background-size: contain;
  background-repeat: none;
  background-position: center;
  margin: auto;
  width: 700px;
  height: 96px;
  max-width: 100%;
}
