---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

<section id="unseen-enemy">

</section>
<section id="broadcast">

</section>
<section id="special-events">

</section>
<section id="media-partners">

</section>
<section id="starts-with-you">

</section>
<section id="join-our-movement">

</section>
<section id="partners">

</section>
<section id="share">

</section>
<footer>

</footer>
